ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 16px;
  height: 16px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}

.example-2 .icon-content a[data-social="telegram"] .filled,
.example-2 .icon-content a[data-social="telegram"] ~ .tooltip {
  background-color: #0088cc;
}

form label {
  color: white !important;
  font-weight: bold;
}

.ant-btn:hover {
  background-color: #000 !important;
  color: #7127ba !important;
  border: 1px solid #7127ba !important;
}

form input::placeholder {
  color: rgb(135, 132, 132) !important;
}

form textarea::placeholder {
  color: rgb(127, 124, 124) !important;
}

.contact-layout {
  min-height: 60vh;
  padding: 3rem;
  background-color: #11071f;
  color: white;
}

.contact-title {
  color: #7127ba;
  text-align: center;
  margin-bottom: 2rem;
}

.contact-info {
  color: white;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-icon {
  color: #7127ba;
}

.contact-socials-title {
  margin-top: 1.5rem;
}

.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links .icon-content {
  display: inline-block;
  margin-right: 1rem;
  position: relative;
}

.contact-form {
  color: white;
}

.contact-input {
  padding: 1rem;
  background-color: #11071f;
  color: white;
}

.contact-button {
  width: 100%;
  height: 3rem;
  background-color: #7127ba;
  font-weight: bold;
  border: none;
}

.contact-button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #9e58d2;
}

.tooltip {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  font-size: 0.75rem;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  display: none;
}

.icon-content:hover .tooltip {
  display: block;
}
