.menu {
  margin-right: 2rem;
}
.dropdown {
  display: none;
}
.logo {
  margin-left: 2rem;
}

@media only screen and (max-width: 720px) {
  .menu {
    display: none;
  }
  .dropdown {
    display: block;
  }
}
